button {
    cursor: pointer;
}

.centerMenuItems {
    display: flex;
    justify-content: center;
    align-items: center;
    /* ensure all items are stacked on eachother vertically */
    flex-direction: column;
}

.topMenuItems {
    display: flex;
    position: fixed;
    top: 0;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.sideNav {
    height: 100%;
    width: 0; /* sidebar is hidden until opened */
    position: fixed;
    background-color: gray;
    z-index: 1; /* stay on top */
    text-align: center;
    font-size: 0px; /* makes the text invisible */
    transition: 0.5s; /* makes sidebar transition to being open instead of just appearing */
    text-decoration: none; /* removes the underline thing */
}

#sideBarButtonOpen {
    transition: 1s;
}

#sideBarButtonClose {
    color: white;
    background-color: gray;
    width: 0px;
    /* position the close button at the top right of the nav bar */
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin-right: 5px;
}