button {
    cursor: pointer;
}

a {
    text-decoration: none; /* removes the underline thing */
}

.centerMenuItems {
    display: flex;
    justify-content: center;
    align-items: center;
    /* ensure all items are stacked on eachother vertically */
    flex-direction: column;
}

.topMenuItems {
    display: flex;
    position: fixed;
    top: 0;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.sideNav {
    height: 100%;
    width: 0; /* sidebar is hidden until opened */
    position: fixed;
    background-color: gray;
    z-index: 1; /* stay on top */
    font-size: 0px; /* makes the text invisible */
    transition: 0.5s; /* makes sidebar transition to being open instead of just appearing */
}

.sideBarLinks {
    text-align: center;
}


#sideBarButton {
    transition: 0.5s;
}