<html>
    <head>
        <title>Book a lounge</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='book.css') }}" />
    </head>
    <body>
        {% include "navbar.html" %}

        <div class="main">
            <h3>Book the {{ lounge["name"] }}</h3>

            <form id="paymentForm" method="post" action="{{ url_for('pay', lounge_id=lounge['id']) }}">
                
                <div class="dateTimeForm">
                Enter date: <input type="date" name="booking_date" /><br />
                Enter start time: <input type="time" name="start_time" /><br />
                Enter departure time: <input type="time" name="end_time" />
                </div>

                <div class="paymentOptionContainer">
                    <input type="radio" name="payment_option" value="money" />
                    Pay with credit card
                </div>
                <div class="paymentOptionContainer">
                    <input type="radio" name="payment_option" value="points" />
                    Pay with points
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>