<html>
    <head>
        <title>Book a lounge</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='book.css') }}" />
    </head>
    <book>
        {% include "navbar.html" %}

        <div class="main">
            <h3>Book the {{ lounge["name"] }}</h3>
            <form id="paymentForm" action="{{ url_for('pay', lounge_id=lounge['id']) }}">
                <div class="paymentOptionContainer">
                    <input type="radio" name="payment_option" value="money" />
                    Pay with credit card
                </div>
                <div class="paymentOptionContainer">
                    <input type="radio" name="payment_option" value="points" />
                    Pay with points
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </book>
</html>