<html>
    <head>
        <title>Lounge with FlyDream</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{ url_for('static', filename='homepage.js') }}"></script>
    </head>
    <body>
        <!-- main content of the page -->
        <div class="main">
            <!-- elements we want to be centered and are the main focus of the page -->
            <div class="centerMenuItems">
                <!-- replace the source once the image is available -->
                <img src="{{ url_for('static', filename='images/flydream-logo.png') }}" alt="FlyDream Air Company Logo" width="200" />
                <br /><br />

                <div class="searchBar">
                    <form action="{{ url_for('explore') }}">
                        <input id="loungeSearch" name="query" type="text" placeholder="search lounges" />
                        <button type="submit">Search</button>
                    </form>
                </div>
                <br />
                <button><a href="{{ url_for('explore') }}">Explore Lounges</a></button><br />
                <button>Memberships</button><br />
                <button>FAQ</button>
            </div>
            <!-- our sign in/sign up options -->
            <div class="topMenuItems right">
                {% if not user.get_login_status() %}
                    <button><a href="{{ url_for('login') }}">Sign In</a></button>
                    <button><a href="{{ url_for('signup') }}">Sign Up</a></button>
                {% else %}
                    <form action="{{ url_for('logout') }}">
                        <button type="submit">Sign out</button>
                    </form>
                {% endif %}
            </div>
            <!-- our closable side panel -->
            {% include "navbar.html" %}
        </div>
    </body>
</html>