<html>
    <head>
        <title>Lounge with FlyDream</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{ url_for('static', filename='homepage.js') }}"></script>
    </head>
    <body>
        <!-- main content of the page -->
        <div class="main">
            <!-- elements we want to be centered and are the main focus of the page -->
            <div class="centerMenuItems">
                <!-- replace the source once the image is available -->
                <img src="[FLYDREAM AIR LOGO SOURCE]" alt="FlyDream Air Company Logo" width="200" />
                <br /><br />

                <div class="searchBar">
                    <input type="text" placeholder="search lounges" />
                    <button>Search</button>
                </div>
                <br />
                <button>Explore Lounges</button><br />
                <button>Memberships</button><br />
                <button>FAQ</button>
            </div>
            <!-- our sign in/sign up options -->
            <div class="topMenuItems right">
                <button>Sign In</button>
                <button>Sign Up</button>
            </div>
            <!-- our closable side panel -->
            <div class="topMenuItems left">
                <div id="mainMenuNav" class="sideNav">
                    <button id="sideBarButton" onClick="onSideBarClicked()">Nav</button>
                    <br />
                    <div class="sideBarLinks">
                        <a href="#">Home</a><br />
                        <a href="#">Profile</a><br />
                        <a href="#">Explore</a><br />
                        <a href="#">Memberships</a><br />
                        <a href="#">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>