{% macro lounge_card(lounge) %}
    <div class="airportContainer">
        <table>
            <tr>
                <td colspan="3"><img class="loungeImage" src="{{ lounge['img_url'] }}" alt="Image of Lounge" width="700px" /></td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>{{ lounge["name"] }}</td>
                <td class="description smallText" colspan="2" rowspan="5">Description: <br />{{ lounge["description"] }}</td>
            </tr>
            <tr>
                <td>Included with: </td>
                <td>{{ lounge["included_with"] }} class</td>
            </tr>
            <tr>
                <td>Points: </td>
                <td>{{ lounge["points"] }}</td>
            </tr>
            <tr>
                <td>Price: </td>
                <td>${{ lounge["price_aud"] }} AUD</td>
            </tr>
            <tr>
                <td>Ameneties: </td>
                <td class="smallText">
                    <ul>
                        {% for amenity in lounge["amenities"] %}
                            <li>{{ amenity }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        <br />
        <br />
        {% if lounge in booked_lounges %}
            <button><a href="{{ url_for('book', lounge_id=lounge['id']) }}">Book now!</a></button>
        {% else %}
            <button><a href="{{ url_for('book', lounge_id=lounge['id']) }}">Make another booking!</a></button>
            <button><a href="{{ url_for('cancel', lounge_id=lounge['id']) }}">Cancel booking</a></button>
        {% endif %}
    </div>
{%- endmacro %}