<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="{{ url_for('static', filename='homepage.js') }}"></script>
    </head>
    <body>
        <!-- our closable side panel -->
        <div class="topMenuItems left">
            <div id="mainMenuNav" class="sideNav">
                <button id="sideBarButton" onClick="onSideBarClicked()">></button>
                <br />
                <div class="sideBarLinks">
                    <a href="{{ url_for('hello_world') }}">Home</a><br />
                    <a href="#">Profile</a><br />
                    <a href="{{ url_for('explore') }}"">Explore</a><br />
                    <a href="#">Memberships</a><br />
                    <a href="#">FAQ</a>
                </div>
            </div>
        </div>
    </body>
</html>