<html>
    <head>
        <title>My profile</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}" />
    </head>
    <body>
        {% include "navbar.html" %}
        <h1>{{ username }}'s profile</h1>
        <div class="profileContent">
            <p>Points: {{ user_data["points"] }}</p>
            My bookings:
            {% if bookings %}
                <ul>
                    {% for i in range(bookings|length) %}
                        {% set booking = bookings[i] %}
                        {% set booking_info = user_data["bookings"][i] %}
                        <li>{{ booking["name"] }} on {{ booking_info["date"] }} from {{ booking_info["start_time"] }} to {{ booking_info["end_time"] }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('explore', query='booked') }}"><i>See all</i></a>
            {% else %}
                <p>&nbsp;&nbsp;&nbsp;&nbsp;No bookings yet</p>
                <a href="{{ url_for('explore') }}">&nbsp;&nbsp;&nbsp;&nbsp;<i>Make bookings</i></a>
            {% endif %}
        </div>
    </body>
</html>